.container {
  display: flex;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 80px;
  flex-direction: column;
  // align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  * {
    color: #fff;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
  }
}

.grid-list {
  display: grid;
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 57px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.grid-item {
  width: 100%;
  color: #555;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.grid-item {
  img {
    height: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: fill;
    border-radius: 10px;
  }
}

.post-text {
  z-index: 10;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  h5 {
    padding: 0 !important;
  }
}

.post-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 20px 0;
  a {
    color: #9e9e9e;
  }
}

// BLOG TYPOGRAPHY

.blog-content {
  display: flex;
  gap: 2px;
  flex-direction: column;
  line-height: 1.8;
  color: #f1f1f1 !important;
}

.blog-title {
  display: flex;
  align-items: center;
  h1 {
    font-family: "Poppins";
    color: white;
    font-size: 3rem;
    text-align: start;
  }
}

.blog-hero-image {
  display: flex;
  flex: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.date {
  padding: 1rem 0;
}

@media screen and (max-width: 900px) {
  .grid-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
    h1 {
      font-size: 2rem;
    }
  }

  .grid-list {
    grid-template-columns: 1fr;
  }

  .post-text {
    h5 {
      font-size: 1.1rem;
    }
  }
  .blog-title {
    h1 {
      font-size: 2rem;
    }
  }
}
