@keyframes modal-video {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px);
  }

  to {
    transform: translate(0, 0);
  }
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
  opacity: 0;
}

.modal-video-effect-exit .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.modal-video-body {
  max-width: 940px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
}

.modal-video-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -35px;
  right: -35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}

.modal-video-close-btn:before {
  transform: rotate(45deg);
}

.modal-video-close-btn:after {
  transform: rotate(-45deg);
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -6px;
}

.main-bar-wraper .custom-logo {
  display: none;
}

.main-bar-wraper.is-fixed .custom-logo {
  display: block;
}

.main-bar-wraper.is-fixed .custom-logo-white {
  display: none;
}

.bg-pink {
  background-color: #e75a85;
}

.text-para {
  color: aliceblue;
}

.button {
  animation: color-change 2s linear infinite;
  border: solid 3px #ff1493;
  padding: 11px 30px;
  color: #fff;
  border-radius: 5px;
}

@keyframes color-change {
  0%,
  100% {
    border-color: #ff1493;
  }

  25% {
    border-color: #f3ea6f;
  }

  50% {
    border-color: #8557e7;
  }

  75% {
    border-color: #f3ea6f;
  }
}

.para-text {
  font-size: 13px;
  margin-top: 15px !important;
}

.title {
  font-size: 16px !important;
  font-weight: 800 !important;
  font-family: sans-serif !important;
}

.slider-border {
  border: 4px solid #fff;
  z-index: 999;
  width: 600px;
  height: 400px;
  position: relative;
}

.slider-texto {
  position: absolute;
  padding: 0px 25px;
  /* left: 28%; */
  z-index: 9999;
  top: 30%;
}

.slider-texto h5 {
  color: linear-gradient(to right, #e62222, #e62222, #ef6d35, #ef6d35, #ef6d35);
  font-weight: 700;
  font-size: 34px;
  font-family: sans-serif !important;
}

.slider-texto p {
  color: #fff;
  font-family: sans-serif !important;
  font-size: 18px;
  font-weight: 300 !important;
  line-height: 25px;
  padding-bottom: 15px;
}

.slick-slider.leader_tht.slick-initialized .slick-prev:before {
  display: none;
}

.slick-slider.leader_tht.slick-initialized .slick-next:before {
  display: none;
}

.omra-leadersection .col-6 .slick-slider.slick-initialized button {
  position: absolute !important;
  bottom: 0px !important;
  top: 100% !important;
  right: 5% !important;
  margin-top: 50px;
}

.omra-leadersection
  .col-6
  .slick-slider.slick-initialized
  button.slick-arrow.slick-prev {
  right: 18px !important;
  left: 82% !important;
}

.second_headingtext___BOCw p {
  margin: 30px 0px 50px;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif !important;
  font-weight: 300 !important;
  font-weight: 400;
}

.second_headingtext___BOCw h2 {
  font-size: 48px !important;
}

.four_headingtext__12fD4 {
  vertical-align: middle;
  margin: 100px 0px;
  font-family: sans-serif !important;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.is-fixed .main-bar {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0px) !important;
  transition: all 0.3s ease-in;
}

@media only screen and (max-width: 767px) {
  #footer {
    background: linear-gradient(
      to right,
      #e62222,
      #e62222,
      #ef6d35,
      #ef6d35,
      #ef6d35
    ) !important;
    height: 582px !important;
    width: 102%;
  }

  .footer-terms a {
    margin: 0 12px;
    position: relative;
    font-family: sans-serif;
    line-height: 23px;
    font-size: 12px;
    color: #fff;

    word-spacing: 6px !important;
  }

  .slider-border {
    border: 2px solid #fff;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .second_secondsecond__1Msjx {
    height: auto !important;
  }
}

@media only screen and (max-width: 767px) {
  .second_headingtext___BOCw h2 {
    font-size: 36px !important;
  }

  .slider-texto {
    padding: 0px 4px;
  }

  .slider-texto h5 {
    text-align: center;
  }

  .slider-texto p {
    text-align: center;
  }

  .omra-leadersection
    .col-6
    .slick-slider.slick-initialized
    button.slick-arrow.slick-prev {
    left: 76% !important;
  }

  .omra-leadersection .col-6 .slick-slider.slick-initialized button {
    top: 89% !important;
  }
}

@media only screen and (max-width: 767px) {
  .second_headingtext___BOCw p {
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .four_darkcoloumn__2llim.hullheight {
    height: auto;
  }

  .four_darkcoloumn__2llim.hullheight
    + section.content-inner-2.hullheight.justify-center {
    height: auto;
    display: inherit;
  }

  .unquie-section {
    height: auto !important;
  }

  .testimonials-carousel1 .slider img {
    width: 100%;
  }

  .testimonials-carousel1 .slider .omra-slider {
    position: relative;
    top: 0px !important;
    left: 0px !important;
    transform: translate(0%, 0%);
  }

  element.style {
    background-image: url("/images/sliderimages/GLOBE.png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 42% 50%;
  }

  .testimonials-carousel1 .slider .omra-slider .col-6.omra-slider-p {
    padding-left: 0px;
  }

  .testimonials-carousel1 .slider .omra-slider .col-6.omra-slider-p p {
    text-align: left !important;
    padding-left: 0px;
    font-weight: 100;
  }

  .slider-texto p {
    font-size: 16px;
  }

  .four_headingtext__12fD4 {
    font-size: 16px;
  }

  .m-b0 {
    font-size: 16px;
  }

  .gradient-color {
    background-image: linear-gradient(
      to right,
      #e62222,
      #e62222,
      #ef6d35,
      #ef6d35,
      #ef6d35
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.img3 {
  height: 300px;
}

.paragraph-box {
  padding: 20px 0px;
  text-align: justify;
}

.paragraph-box1 {
  padding: 20px 0px;
  text-align: justify;
}

.voice-paragraph {
  padding: 0px 0px;
}

p.leader_leaderpara__2uIkn a {
  color: white;
}

.formsection .form-control {
  border-radius: 0px !important;
  background: white !important;
  border-bottom: 1px solid #4d4d4d;
}

.new-about-section {
  background-image: url(/intelligentautomationimages/blockchain-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.new-about-section {
  background-image: url(/intelligentautomationimages/blockchain-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.new-about-section .content {
  position: absolute;
  top: 116px;
  left: 706px;
  background: rgb(0, 0, 0);

  background: rgba(0, 0, 0, 0.5);

  color: #f1f1f1;
  width: 40%;
  padding: 20px;
  height: 299px;
}

.new-about-section {
  background-image: url(/intelligentautomationimages/bbanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
  width: 100%;
  position: relative;
}

.new-about-section .content {
  position: absolute;
  top: 591px;
  left: 10px;
  background: rgb(0, 0, 0);
  background: WHITE;
  color: #000000;
  width: 49%;
  padding: 20px;
  height: 299px;
}

.new-about-section .content333 {
  position: absolute;
  top: 276px;
  left: 683px;
  background: rgb(0, 0, 0);
  background: WHITE;
  color: #000000;
  width: 49%;
  padding: 20px;
  height: 299px;
}

.section_heading333 {
  color: white;
  font-size: 39px;
  text-align: center;
}

.new-about-section1 {
  background-image: url(/intelligentautomationimages/brown.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  position: relative;
}

.new-about-section1 .content1 {
  position: absolute;
  top: 0px !important;
  left: 656px;

  background: rgb(11 7 7 / 67%);
  color: #f1f1f1;
  width: 38%;
  padding: 17px;
  height: 80vh;
  font-size: 25px;
}

.gradient-color {
  background-image: linear-gradient(
    to right,
    #e62222,
    #e62222,
    #ef6d35,
    #ef6d35,
    #ef6d35
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hullheight {
  height: 100vh;
  display: flex;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.background_section {
  background-color: white;
  width: 580px;
  height: 255px;
  margin-bottom: 35px;
  border: 1px solid #707070;
}

#footer {
  background: linear-gradient(
    to right,
    #e62222,
    #e62222,
    #ef6d35,
    #ef6d35,
    #ef6d35
  ) !important;
  height: 420px;
}

@media only screen and (max-width: 767px) {
  .new-about-section .content {
    position: absolute;
    top: 132px;
    left: 33px;

    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 84%;

    height: 420px;
    text-align: justify;
  }

  .new-about-section1 .content1 {
    position: absolute;
    top: 132px;
    left: 33px;

    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 84%;
    padding: 4px -9px;
    height: 420px;
    text-align: justify;
  }

  .testimonials-carousel1 .slider .omra-slider .col-6.omra-slider-p {
    height: auto;
    padding: 0;
    left: 0;
    margin: 0;
  }

  .testimonials-carousel1 .slider .omra-slider {
    padding-left: 0;
    padding-top: 0;
  }

  .paragraph-section-voice {
    text-align: justify !important;
    margin: 0px 0px 16px;
    padding: 20px 0px 0px;
  }

  #footer {
    width: 100% !important;
  }
}

.sectionsideimage img {
  height: 332px;
  margin-left: 32px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.image-ecom {
  background-image: url("/intelligentautomationimages/ecom.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}

.image-aboutnew {
  background-image: url("/intelligentautomationimages/aboutnew.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}

.image-hrmsknowmore {
  background-image: url("/intelligentautomationimages/blockchain-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}

.image-hire {
  background-image: url("/intelligentautomationimages/hire.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}

.image-it {
  background-image: url("/intelligentautomationimages/it.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}

.image-res {
  background-image: url("/intelligentautomationimages/res.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}

.image-voice {
  background-image: url("/intelligentautomationimages/voice.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 99vh;
}

.demo_newsectionbox__1ZxBt .row {
  gap: 15px;
  column-gap: normal;
}

.mydiv001 {
  background-image: url(../public/image/third.png);
  padding: 200px;

  background-position: 77% 46%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 127px;
  height: 100vh;
  padding: 200px 0px;
  padding-left: 0;
}

section.mydiv001 h1 {
  margin: 0 !important;
  color: #fff;
  font-size: 35px;
  font-family: sans-serif;
  width: 446px;
}

section.mydiv001 p {
  font-size: 18px;
  color: #fff;
  font-weight: 100;
  font-family: sans-serif;
}

section.mydiv11 p {
  font-family: sans-serif;
  font-size: 18px;
  color: #f5eeee;
  text-align: inherit;
  line-height: 25px;
}

section.mydiv11 h1 {
  padding-top: 110px;

  background-image: linear-gradient(
    to right,
    #e62222,
    #e62222,
    #ef6d35,
    #ef6d35,
    #ef6d35
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 43px;
  font-weight: 500;
  margin-bottom: 0;
}

section.mydiv11 {
  background-color: #000000;
  padding-bottom: 70px;
}

.valueimage1:before {
  content: "";
  background-color: #7b45d9;
  position: absolute;
  top: 0;
  left: -400px;
  bottom: 0;
  right: 0;

  width: 110%;
  height: 112%;
}

.valueimage1 {
  position: relative;
  left: 0px;
}

.valueimage1 img {
  position: relative;
  padding: 90px 0 0 60px;
  width: 100%;
  right: 0;
}

.valueimage1:after {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  top: 212px;
  bottom: 0;
  left: 107px;
  right: 0;
  width: 408px;
  height: 330px;
}

section.mydiv22 {
  background-color: #000;
}

img.hireimages1 {
  width: 100%;
  position: relative;
  left: 0px;
}

.hirecontent1 ul {
  margin-left: -40px;
}

.hirecontent1 ul li {
  list-style: none;
  color: #fffcfc;
  margin-bottom: 15px;
  line-height: 24px;
  font-size: 18px;
  font-family: sans-serif;
}

.hirecontent1 h1 {
  font-size: 27px;
  color: #efd135;
  font-family: sans-serif;
  max-width: 599px;
}

.hirecontent1 p {
  color: #fffcfc;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 761px;
}

.hirecontent1 ul li img {
  width: 14px;
  padding-right: 8px;
}

section.mydiv44 {
  background-color: #000;
  margin-top: 20px;
}

section.mydiv44 h1 {
  color: #fff;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: 200;
}

section.mydiv44 h2 {
  background-image: linear-gradient(
    to right,
    #e62222,
    #e62222,
    #ef6d35,
    #ef6d35,
    #ef6d35
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 35px;
  font-size: 50px;
  margin-top: -28px;
  font-family: sans-serif;
}

section.mydiv55 {
  background-color: #000;
}

section.mydiv55 h2 {
  color: #ffffff;
  font-family: sans-serif;
  font-size: 19px;
  padding-bottom: 6px;
  font-weight: 500;
}

section.mydiv55 h2.active {
  border-bottom: 1px solid blue;
  width: 153px;
}

.valueimage12:after {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  top: 192px;
  bottom: 0;
  left: 55px;
  right: 0;
  width: 488px;
  height: 286px;
}

.valueimage12 {
  position: relative;
}

.valueimage12 img {
  width: 533px;
  height: 358px;
  position: relative;
  padding: 72px 0 0 60px;
  right: 100px;
}

section.mydiv66 {
  background-color: #000;
  padding-bottom: 30px;
  margin-left: -254px;
}

section.mydiv66 h1 {
  color: #7b45d9;
  font-size: 66px;
  text-align: center;
  margin-left: 180px;
  white-space: nowrap;
}

.valuecontent1s p {
  color: #f5eeee;
  font-family: sans-serif;
  max-width: 619px;
  line-height: 32px;
  font-size: 24px;
}

.valuecontent1s {
  border: 1px solid #fff;
  padding: 10px 28px;
  width: 619px;
  margin-left: 82px;
}

valuecontent1 {
  padding-top: 51px;
}

.mydiv77 {
  background-color: #000;
  padding-bottom: 30px;
  color: white;
}

section.mydiv77 h1 {
  background-image: linear-gradient(
    to right,
    #e62222,
    #e62222,
    #ef6d35,
    #ef6d35,
    #ef6d35
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-family: sans-serif;

  margin-top: 0px;
  padding-top: 30px;
}

section.mydiv77 ul {
  list-style: none;
}

section.mydiv77 ul li {
  color: #fff;
}

section.mydiv77 h2 {
  margin: 0px;
  font-size: 22px;
}

section.mydiv77 p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 19px;
  display: flex;
  align-items: center;
  line-height: 30px;
}

section.mydiv77 h2 img {
  padding: 7px;
  padding-left: 0px;
}

section.mydiv77 p img {
  padding: 7px;
  padding-left: 0px;
}

.mydiv88 {
  background-color: #000;
  padding-bottom: 30px;
  color: white;

  margin-top: 0px;
}

section.mydiv88 h1 {
  background-image: linear-gradient(
    to right,
    #e62222,
    #e62222,
    #ef6d35,
    #ef6d35,
    #ef6d35
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;

  font-family: sans-serif;
}

section.mydiv88 p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  line-height: 30px;
}

section.mydiv88 p img {
  padding: 7px;
  padding-left: 0px;
}

section.mydiv88 p .parastyle {
  margin-top: 15px !important;
}

.mydiv99 {
  background-color: #000;
  padding-bottom: 30px;
  color: white;
  padding-left: 154px;
  padding-right: 255px;

  margin-top: 0px;
  padding-top: 36px;
}

.section9 {
  display: flex;
  gap: 43px;
}

.rightflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.right {
  padding-top: 11px;
}

.left {
  width: 25%;
  font-size: 25px;
  margin-left: 132px;
  color: #ff260a;
}

.hirecontent1 {
  margin-left: 0px !important;
}

.right div h1 {
  font-size: 27px;
}

.pstyle {
  max-width: 503px;
  margin: 0px;
  font-size: 20px;
}

.left h1 {
  margin-left: -254px;
  max-width: 245px;
}

.valuecontent1 {
  padding-top: 45px;
}

@media (max-width: 600px) {
  .valueimage1 img {
    position: relative;
    padding: 11px;
    width: 100%;
    right: 0;
  }

  .valueimage1 {
    left: 0px;
  }

  .valueimage1:before {
    content: "";
    background-color: #7b45d9;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .valueimage1:after {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    bottom: 0px;
    left: 50%;
    right: 0;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
  }

  section.mydiv11 h1 {
    padding: 0px;
    font-size: 7vw;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }

  section.mydiv11 {
    padding-bottom: 30px;
  }

  section.mydiv001 h1 {
    font-size: 6vw;
    width: 100%;
  }
}

.back_box {
  background-color: white;
}

.privacy {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  padding: 11px 0px;
}

.terms {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: left;
  padding: 11px 0px;
}

.box13 {
  border: 2px solid #fff !important;
  width: 105px !important;
  padding: 15px 18px !important;

  margin-left: 90px !important;
}

.flex_boxslider {
  display: flex;
}

.div_boxslider {
  height: 281px;
  background-color: white;
  color: black;
  width: 356px;
  padding: 19px 5px 5px 5px;
}

.newslider {
  padding: 0px;
  text-align: center;
  color: black;

  font-size: 22px;
}

.newslider333 {
  padding: 0px;
  text-align: center;
  color: #db239b;
  margin-left: 125px;
  font-weight: 500;
}

.amazingslider {
  display: flex;
  justify-content: space-around;
  grid-gap: 100px;
  gap: 1px;
}

.slider_background {
  background-image: url(/image/bk.jpg);

  background-size: cover;
  height: 80vh;
  background-repeat: no-repeat;
}

.pcenter {
  text-align: center;
}

.slidercontain {
  background-image: url(/image/bk.jpg);
  background-size: cover;
  height: 71vh;
  background-repeat: no-repeat;
  margin-top: 22px;
  padding: 22px 0px;
}

.what_box {
  text-align: center;
  font-size: 43px;
  margin-bottom: 24px;
}
.mydiv00133 {
  background-image: linear-gradient(
      358deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../public/image/Smile.jpg);
  padding: 200px;

  background-position: 22% 46%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 127px;
  /* height: 100vh; */
  padding: 212px 0px;
  padding-left: 0;
}

section.mydiv00133 h1 {
  margin: 0 !important;
  color: #fff;
  font-size: 35px;
  font-family: sans-serif;
  width: 446px;
}

section.mydiv00133 p {
  font-size: 18px;
  color: #fff;
  font-weight: 100;
  font-family: sans-serif;
}

@media (max-width: 576px) {
  .slick-next {
    right: 0px !important;
  }

  .slick-dots {
    position: relative;
    left: -15px;
    bottom: -14px !important;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0;
    list-style: none;
    text-align: justify !important;
  }

  .slick-slide > div {
    padding: 0 34px;
  }
}

.section45 {
  margin: 5px 16px;
}

.ww333 {
  display: flex;
}

.hirecontent1333 {
  font-size: 27px;
  color: #efd135;
  font-family: sans-serif;
  max-width: 599px;
}

.whole_width {
  max-width: 1550px;
}

.valuecontentth img {
  width: 14px !important;
  padding-right: 5px !important;
}
.mydiv3 img {
  width: 14px;
  padding-right: 5px;
}

.mydiv009 {
  background-image: url(../public/image/bannere.png);
  padding: 200px;

  background-position: 77% 46%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 127px;
  height: 100vh;
  padding: 200px 0px;
  padding-left: 0;
}

.mydivspi {
  background-image: url(../public/image/spi.png);

  background-position: 77% 46%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 127px;
  height: inherit;
  padding: 20px 0px;
  padding-left: 0;
}

.hirecontentel {
  margin-left: 0px !important;
  margin-top: -198px;
}

.btn33 {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control3 {
  box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
  height: 49px;
  border-radius: 1.5rem !important;
  padding: 10px 20px;
  position: relative;
  font-size: 15px;
  margin: 26px 0px;
}

@media (max-width: 600px) {
  .hirecontentel {
    margin-left: 0px !important;
    margin-top: -68px;
  }

  .mydiv00133 h1 {
    margin: 0px !important;
    color: #fff;
    font-size: 35px;
    font-family: sans-serif;
    width: 100% !important;
  }
}

.container9 {
  max-width: 1180px;
}

.footerPara {
  margin-top: 0;
  margin-bottom: 1rem;

  padding: 0px;
}
.contactPara {
  padding: 0px 0px;
}
.contactPara1 {
  padding: 23px 0px;
}
